<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new cafe</title>
</head>
<body>
<div id="stylized" class="myform">
    <form action="add" method="POST">
        <p>
            <label>Cafe Name</label>
            <input name="name" type="text">
        </p>
        <p>
            <label>Location</label>
            <input name="location" type="text">
        </p>
        <p>
            <label>Coffee Price</label>
            <input name="coffee_price" type="text">
        </p>
        <p>
            <label>Seats</label>
            <input name="seats" type="text">
        </p>
        <p>
            <label>Map_url</label>
            <input name="map_url" type="text">
        </p>
        <p>
            <label>Image_url</label>
            <input name="img_url" type="text">
        </p>
        <p>
            <label>Can take calls</label>
            <input name="can_take_calls" type="text">
        </p>
        <p>
            <label>Has_toilet</label>
            <input name="has_toilet" type="text">
        </p>
        <p>
            <label>Has_wifi</label>
            <input name="has_wifi" type="text">
        </p>
        <p>
            <label>Has_sockets</label>
            <input name="has_sockets" type="text">
        </p>
        <button type="submit">Add Cafe</button>
    </form>
</div>
</body>
</html>